@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  --image-gradient: linear-gradient(
    to bottom left,
    #1c0522,
    rgba(12, 10, 22, 0.863)
  );
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );
}

.MainHomeScreen {
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
  overflow-x: hidden;
}

nav {
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  width: 100%;
  padding: 30px 5%;
  justify-content: space-between;
  align-items: baseline;
  z-index: 100000;
}

nav .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

nav ul li a:hover,
nav ul li a.active {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section img#moon {
  mix-blend-mode: screen;
}

#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 4vw;
  z-index: 9;
}

section img#mountains_front {
  z-index: 10;
}

#btn {
  text-decoration: none;
  padding: 8px 20px;
  display: inline-block;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  transform: translateY(100px);
  z-index: 9000;
  cursor: pointer;
  border-radius: 40px;
}

.sec {
  background-image: var(--image-gradient), url(../assets/home-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding: 100px;
  z-index: 12;
  font-size: 1.2em;
  color: #fff;
}

.sec h2 {
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 10px;
}

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .sec {
    background-image: var(--image-gradient);
  }
}

@media screen and (max-width: 690px) {
  nav {
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
    width: 100%;
    padding: 30px 2%;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

  nav .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul li {
    list-style: none;
    margin-left: 2px;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 14px;
    padding: 2px 8px;
    color: #fff;
    border-radius: 20px;
  }
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #be6adf !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #b562d6 !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.profileImg {
  border-radius: 50%;
  background: #180921;
  box-shadow: 33px 33px 66px #0a040d, -33px -33px 66px #260e35;
}

.about-list li {
  list-style: none !important;
}

.navbar-icons {
  display: none !important;
}

@media (max-width: 500px) {
  .nav-links li {
    margin-left: 10px !important;
  }
  .navbar-icons {
    font-size: 20px;
    display: flex !important;
    align-items: center !important;
  }
  .navbar-text {
    display: none !important;
  }
}

.about-container {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  width: 100%;
}

.personal-details {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.about-me {
  width: 55%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.profile-details {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}

@media (min-width: 1500px) {
  .about-me {
    width: 60% !important;
  }
}

@media (max-width: 1200px) {
  .sec {
    padding: 80px !important;
  }

  .personal-details {
    width: 100% !important;
  }

  .about-me {
    width: 100% !important;
  }
}

@media (max-width: 1050px) {
  .about-container {
    flex-direction: column-reverse !important;
  }
  .about-me {
    margin-bottom: 30px;
  }
  .personal-details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec {
    background-image: var(--image-gradient) !important;
  }
  .profile-details {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .sec {
    padding: 5% !important;
  }
}

@media (max-width: 600px) {
  .profile-details {
    width: 90%;
  }
}

@media (max-width: 400px) {
  #text {
    font-size: 6.5vw;
  }
  .sec h2 {
    font-size: 7.5vw;
  }
  .sec h1 {
    font-size: 7.5vw !important;
  }
  .home-about-body {
    font-size: 4.5vw;
  }
  .personal-details img {
    width: 265px;
    height: 280px;
  }
  .profile-details {
    font-size: 4.2vw;
    width: 100%;
  }
}
